<Files .htaccess>
    order allow,deny
    deny from all
</Files>

ErrorDocument 404 /

<IfModule mod_rewrite.c>  
RewriteEngine on   
RewriteCond %{REQUEST_FILENAME} !-d   
RewriteCond %{REQUEST_FILENAME}\.php -f   
RewriteRule ^(.*)$ $1.php 
</IfModule>  

IndexOptions +Charset=UTF-8

RewriteRule ^apple-touch-icon-precomposed\.png$ images/touch-icon-512.png [L]
RewriteRule ^apple-touch-icon-precomposed[0-9].* images/touch-icon-512.png [L]